<ion-header>
  <ion-toolbar>
    <ion-icon name="camera-outline" size="large" style="padding-left: .2em; padding-buttom: 0px;"></ion-icon>
    <ion-title style="font-family: billabong; font-size: 1.6em; padding-top: .4em">Instagram</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-left: 0px; margin-right: 0px; border-radius: 0px;">
  <ion-card-header style="padding-bottom: .45em; padding-top: .25em">
    <ion-grid style="padding-bottom: 0px; height: 3em;">
    <ion-row>
      <ion-col style="padding-left:0px; max-width: 3em;padding-buttom:0px; ">
        <ion-col style="text-align:left; padding-left:0px;">
          <ion-avatar>
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" style="max-width: 2em; max-height: 2em;">
          </ion-avatar>
        </ion-col>
      </ion-col>

      <ion-col style="text-align:left; max-with: 3em; padding-buttom: 0px;">
        <p style="margin-top:.2em; padding-buttom: 0px">El chupacabras</p>
      </ion-col>

      <ion-col style="text-align:right;">
        <ion-icon name="ellipsis-vertical" style="margin-top:.2em; font-size: 22px; padding-buttom: -10px;"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content style="padding-left:0px; padding-right:0px;">
  <img src="./assets/Image/point.jpg"/>
  </ion-card-content>
</ion-card>
<ion-card style="margin-left: 0px; margin-right: 0px; border-radius: 0px;">
<ion-card-header style="padding-bottom: .45em; padding-top: .25em">
  <ion-grid style="padding-bottom: 0px; height: 3em;">
  <ion-row>
    <ion-col style="padding-left:0px; max-width: 3em;padding-buttom:0px; ">
      <ion-col style="text-align:left; padding-left:0px;">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" style="max-width: 2em; max-height: 2em;">
        </ion-avatar>
      </ion-col>
    </ion-col>

    <ion-col style="text-align:left; max-with: 3em; padding-buttom: 0px;">
      <p style="margin-top:.2em; padding-buttom: 0px">El chupacabras</p>
    </ion-col>

    <ion-col style="text-align:right;">
      <ion-icon name="ellipsis-vertical" style="margin-top:.2em; font-size: 22px; padding-buttom: -10px;"></ion-icon>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-card-header>

<ion-card-content style="padding-left:0px; padding-right:0px;">
<img src="./assets/Image/point.jpg"/>
</ion-card-content>
</ion-card>
<ion-card style="margin-left: 0px; margin-right: 0px; border-radius: 0px;">
<ion-card-header style="padding-bottom: .45em; padding-top: .25em">
  <ion-grid style="padding-bottom: 0px; height: 3em;">
  <ion-row>
    <ion-col style="padding-left:0px; max-width: 3em;padding-buttom:0px; ">
      <ion-col style="text-align:left; padding-left:0px;">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" style="max-width: 2em; max-height: 2em;">
        </ion-avatar>
      </ion-col>
    </ion-col>

    <ion-col style="text-align:left; max-with: 3em; padding-buttom: 0px;">
      <p style="margin-top:.2em; padding-buttom: 0px">El chupacabras</p>
    </ion-col>

    <ion-col style="text-align:right;">
      <ion-icon name="ellipsis-vertical" style="margin-top:.2em; font-size: 22px; padding-buttom: -10px;"></ion-icon>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-card-header>

<ion-card-content style="padding-left:0px; padding-right:0px;">
<img src="./assets/Image/point.jpg"/>
</ion-card-content>
</ion-card>
<ion-card style="margin-left: 0px; margin-right: 0px; border-radius: 0px;">
<ion-card-header style="padding-bottom: .45em; padding-top: .25em">
  <ion-grid style="padding-bottom: 0px; height: 3em;">
  <ion-row>
    <ion-col style="padding-left:0px; max-width: 3em;padding-buttom:0px; ">
      <ion-col style="text-align:left; padding-left:0px;">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" style="max-width: 2em; max-height: 2em;">
        </ion-avatar>
      </ion-col>
    </ion-col>

    <ion-col style="text-align:left; max-with: 3em; padding-buttom: 0px;">
      <p style="margin-top:.2em; padding-buttom: 0px">El chupacabras</p>
    </ion-col>

    <ion-col style="text-align:right;">
      <ion-icon name="ellipsis-vertical" style="margin-top:.2em; font-size: 22px; padding-buttom: -10px;"></ion-icon>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-card-header>

<ion-card-content style="padding-left:0px; padding-right:0px;">
<img src="./assets/Image/point.jpg"/>
</ion-card-content>
</ion-card>
<ion-card style="margin-left: 0px; margin-right: 0px; border-radius: 0px;">
<ion-card-header style="padding-bottom: .45em; padding-top: .25em">
  <ion-grid style="padding-bottom: 0px; height: 3em;">
  <ion-row>
    <ion-col style="padding-left:0px; max-width: 3em;padding-buttom:0px; ">
      <ion-col style="text-align:left; padding-left:0px;">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" style="max-width: 2em; max-height: 2em;">
        </ion-avatar>
      </ion-col>
    </ion-col>

    <ion-col style="text-align:left; max-with: 3em; padding-buttom: 0px;">
      <p style="margin-top:.2em; padding-buttom: 0px">El chupacabras</p>
    </ion-col>

    <ion-col style="text-align:right;">
      <ion-icon name="ellipsis-vertical" style="margin-top:.2em; font-size: 22px; padding-buttom: -10px;"></ion-icon>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-card-header>

<ion-card-content style="padding-left:0px; padding-right:0px;">
<img src="./assets/Image/point.jpg"/>
</ion-card-content>
</ion-card>




</ion-content>
